body{
    /* position: absolute; */
    width:90%;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    
}
.small_screen_text{
    display: none;
}
/* Header section(Logo,search button and search bar) */
.header{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    border-radius: 5px;
    padding: 8px 0px;
    height: 10%;
    background-color:white;
    
}
.logo_container{
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    height: 100%;
}
.logo{
    /* position: relative; */
    display: inline-block;
    width: 100%;
    vertical-align:middle;
    height: 50px;
    width: 50%;
   
}
.search_form{
    /* box-sizing: border-box; */
    display: inline-block;
    width: 100%;
    vertical-align:middle;
}
.search_btn ,.search_input{
    font-size: 18px;
    padding:12px;
    background-color: rgb(238, 238, 238);
    border:none;
}
.search_btn{
    /* background-color: white; */
    width: 10%;
    border-radius: 10px 0px 0px 10px;
    
}
.search_input{
    width: 85%;
    border-radius: 0px 10px 10px 0px;
    text-decoration: none;
}
.search_input:focus,.search_btn:focus{
    outline: 0;
}

/* ----------------------Container------------------------------------ */

.container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}


/* Menu and Scroll Page */
/* ----------------------------------------------------------------------------------------- */
.menu{
    /* width: 30%; */
    text-align: left;
    padding-left: 10%;
    padding-top: 2%;
}
.image,.pp,.text{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.profile_container{
    margin-bottom: 1rem;
}
.items_container{
    width:100%;
}
.explore_container{
    margin-top: 25px;
}
.pp{
    vertical-align: middle;
    border-radius: 50%;
}
.text{
    
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.pp_text{
    font-weight: bold;
}

.item_container:hover{
    font-weight: bold;
    cursor: pointer;
    
}


/* -------------------------------------Pages----------------------------------------- */
.posts_container{
    height: 100vh;
    /* background-color: white; */
    margin-top: 10px;
    overflow: scroll;
    /* overflow-y: scroll; */
}
.single_post{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.user_name_time,.profile_pic{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-left: 11px;
}
.profile_image_post{
    border-radius: 50%;
}

.time,.time_p_tag{
    padding-top: 0;
    margin-top: 0;
}
.user_name,.user_name_h4{
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.user_name:hover{
    cursor: pointer;
}
.user_name_h4{
    display: inline;
}


/* Post body */
.post_body{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 0;
}
.post_text{
    color: #1c1e21;
}
/* Likes and comments display*/
.likes_comments{
    width: 100%;
    
}
.lc{
    display: inline-block;
    width: 49%;
    margin-top: 0;
    padding-top: 0;
}

.hr_tag{
    height: 1px !important;
    color: rgb(179, 179, 179);
    background-color: rgb(221, 221, 221);
    border: none;
    padding:none;
}

/* Like,Comment and share buttons */
.likeandcommentbuttons{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}
.lcs-btn{
    background-color: transparent;
    border: none;
    text-align: center;
    justify-content: center;
}
.lcs_item{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
   
}
.lcs-btn:hover{
    background-color: rgb(240, 236, 236);
}
.lcs-btn:focus
{
    outline: none;
}
/* Commented items */
.actual_comment{
    background-color: #e9ebee;
    padding: 12px;
    border-radius:20px;
}
.c-items{
    display: inline-block;
}

.nc{
    display: inline;
}
.commenter_name{
    color: #385898;
}
.actual_comment_text{
    color: #1c1e21;
}
.c_like_comment{
    
    padding-left:30px;
}
ul{
   
    list-style-type: none;
    
}
li{
    display: inline;
    color: #385898;
    
}
.clc_days{
    color: #1c1e21;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.clc_days:hover{
    text-decoration: none;
    cursor:unset;
}
.comment_box{
    background-color: #e9ebee;
    padding: 12px;
    border: none;
    border-radius: 20px;
    width: 80%;
}
.comment_box:focus{
    outline:none;
}

.profile_pic:hover,.commenter_name:hover{
    cursor: pointer;
}















/* Responsive */

@media(max-width:1088px){
    .search_form{
        display: none;
    }
    /* .header{
        grid-template-columns: 25% 50% 25%;
    }
    .menu{
        display: none;
    }
    .small_screen_text{
        display: block;
        text-align: center;
        font-family: cursive;
    }
     */
    
}